@media only screen and (min-width: 600px){
    .logo {
        font-size: 30px;
        
    }
    nav ul {
        display: flex;
        position: initial;
        align-items: center;
        border: none;
    }
    nav button {
        display: none;
    }
    
    .hero {
        flex-direction: row;
        height: 400px;
        
    }
    .hero .text {
        flex-basis: 65%;
        max-width: 65%;
        padding-top: 70px;
    }
    .hero .text h1, .typing-def {
        font-size: 45px;
    }
    .hero .text p {
        padding-right: 50px;
    }
    .hero .img {
        flex-basis: 35%;
        width: 100%;
        max-width: 35%;
        pointer-events: none;
    }
}

